
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}
* {
  font-family: 'Poppins', sans-serif !important;
}

.post-body p{
  font-weight: 500;
}
.post-body a{
  color: #519259;
}

.post-body ul,ol {
  font-weight: 700;
  line-height: 1.4rem;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.post-body h2 {
  color: #519259;
} 